.card {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    padding: 24px 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 20px;
    height: 23px;
    cursor: pointer;
}

.question-card,
.answer-card {
    width: 299px;
    height: 131px;
    background-color: #FFFFD4;
    padding: 16px 16px;
    margin-top: 16px;
    display: flex;
    align-items: column;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    font-weight: normal;
}

.question-card img {
    width: 30px;
    height: 20px;
    position: absolute;
    right: 12px;
    bottom: 16px;
    cursor: pointer;
}

.answer-card{
    display: flex;
    flex-direction: column;
}

.classification{
    width: 100%;
    display: flex;
    padding-top: 4px;
    justify-content: space-between;
}

.classification button{
    width: 86px;
    height: 36px;
    border: none;
    font-family: 'Recursive';
    border-radius: 4px;
    color: #FFFFFF;
}

button:hover{
    cursor: pointer;
}

.right {
    background-color: green;
}

.almost-right {
    background-color: orange;
}

.wrong {
    background-color: red;
}

.progress {
    font-family: 'Recursive';
    width: 100vw;
    height: 58px;
    font-size: 1.13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 16px;
    font-weight: bold;
}